.button-enter {
  margin-top: 5vh;
  height: 50px;
  border-radius: 1px;
  border: 1px solid #fff;
  letter-spacing: 5px;
  font-size: 1.2rem;
  color: #3399ff;
  background: -webkit-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: -o-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: -moz-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
}
.button-enter.red {
  color: #ff0000;
  background: -webkit-linear-gradient(#fffbda, #fff569, #fff005);
  background: -o-linear-gradient(#fffbda, #fff569, #fff005);
  background: -moz-linear-gradient(#fffbda, #fff569, #fff005);
  background: linear-gradient(#fffbda, #fff569, #fff005);
  box-shadow: 0 2px 5px 0 #777;
}
.col-xs-12 .section-submit-icon {
  position: absolute;
  bottom: 6px;
  right: 54%;
}
@media only screen and (min-width: 400px) {
  .col-xs-12 .section-submit-icon {
    right: 58%;
  }
}
@media only screen and (min-width: 370px) {
  .col-xs-12 .section-submit-icon {
    right: 58%;
  }
}
.col-xs-12 input.section-enter {
  margin-top: 5vh;
  border-radius: 1px;
  border: 1px solid #fff;
  letter-spacing: 5px;
  font-size: 1.2rem;
  color: #3399ff;
  background: -webkit-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: -o-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: -moz-linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  background: linear-gradient(#d5f9f6, #b4f8f3, #94f7f0);
  border: none;
  letter-spacing: 1px;
  padding-left: 80px;
  padding-right: 40px;
  text-align: center;
  height: 50px;
  margin-left: 22%;
}
.col-xs-12 input.section-enter.red {
  color: #ff0000;
  background: -webkit-linear-gradient(#fffbda, #fff569, #fff005);
  background: -o-linear-gradient(#fffbda, #fff569, #fff005);
  background: -moz-linear-gradient(#fffbda, #fff569, #fff005);
  background: linear-gradient(#fffbda, #fff569, #fff005);
  box-shadow: 0 2px 5px 0 #777;
}
.col-xs-12 input.section-enter.no-icon-enter {
  padding-left: 55px;
  padding-right: 55px;
  font-size: 1.1rem;
}
.col-xs-12 input.section-enter.long-enter {
  margin-left: 15%;
}
@media only screen and (min-width: 400px) {
  .col-xs-12 input.section-enter.long-enter {
    margin-left: 21%;
    letter-spacing: 3px;
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media only screen and (min-width: 400px) {
  .col-xs-12 input.section-enter {
    margin-left: 24%;
  }
}
